<div id="container">
  <div id="menu-panel">Menu Panel</div>

  <div class="prediction-panel" style="">

    <p id="notice"><%= notice %></p>

    <%= render partial: 'prediction',:locals => { :prediction => @prediction } %>

    <%= link_to 'Edit', edit_prediction_path(@prediction) %> |
    <%= link_to 'Back', predictions_path %>

  </div>
</div>


